<div>
    <div class="fillter">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
            <a class="btn btn-success" data-bs-toggle="collapse" href="#filter" role="button" aria-expanded="false"
                aria-controls="filterExample">
                <i class="fa-solid fa-filter me-1"></i> Filter
            </a>
        </div>
    </div>

    <div class="collapse show mb-3" id="filter">
        <div class="filter-body">
            <form [formGroup]="errorSearchForm" (ngSubmit)="searchForm()" class="m-t-30">
                <div class="row g-3">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-xs-12">
                        <label class="form-label" for="logType">Select Micro-Service:</label>
                        <select class="form-select" id="logType" name="logType" formControlName="logType">
                            <option [value]="''">-- Please Select Micro-Service --</option>
                            <option [value]="'ADMIN_CONSOLE'">BNRC ADMIN CONSOLE</option>
                            <option [value]="'AUTH'">BNRC AUTH</option>
                            <option [value]="'CMS'">BNRC CMS</option>
                            <option [value]="'MASTER'">BNRC MASTER</option>
                            <option [value]="'USER'">BNRC USER</option>
                            <option [value]="'STUDENT'">BNRC STUDENT</option>
                            <option [value]="'INSTITUTE'">BNRC INSTITUTE</option>
                            <option [value]="'REGISTRATION'">BNRC REGISTRATION</option>
                        </select>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <label class="form-label d-none d-md-block">&nbsp;</label>
                        <button class="btn btn-success" type="submit">
                            <i class="fa-solid fa-magnifying-glass me-1" *ngIf="!btnSerachLoading"></i>
                            <i class="fa-solid fa-spinner fa-spin me-1" *ngIf="btnSerachLoading"></i>
                            <span *ngIf="!btnSerachLoading">Search</span>
                            <span *ngIf="btnSerachLoading">Loading...</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <mat-card class="cardWithShadow theme-card">
        <div class="d-lg-flex justify-content-between flex-nowrap" *ngIf="logs.data.length > 0">
            <h5 class="mb-0">{{logsFileName}}</h5>
        </div>

        <mat-card-content>
            <div class="row" *ngIf="logs.data.length > 0; else elseTable;">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
                <div id="tableExample">
                    <div id="table-responsive scrollbar">
                        <table mat-table [dataSource]="logs.data" class="mat-elevation-z8">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> SL# </th>
                                <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
                            </ng-container>

                            <ng-container matColumnDef="timestamp">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Error Message </th>
                                <td mat-cell *matCellDef="let row"> {{ row.timestamp }} </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="['id', 'timestamp']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['id', 'timestamp'];"></tr>
                        </table>

                        <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50,100]"
                            (page)="handlePageEvent($event)" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>

            </div>
            <ng-template #elseTable>
                <div class="alert alert-success text-center fw-bold" role="alert">
                    Please Search to Execute Query...
                </div>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>