<div class="page-header">
    <h1 class="page-title">Manage Links</h1>
    <nav class="breadcrumb__section">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a *ngIf="globalMenuData?.gl_path" [routerLink]="globalMenuData.gl_path">
                    <i [class]="globalMenuData.gl_class" class="text-success"></i> <!-- Icon for global menu -->
                </a>
            </li>
            <li class="breadcrumb-item">{{ breadCrumData.globalMenu }}</li> <!-- Global menu name -->
            <li class="breadcrumb-item"><b>{{ breadCrumData.primaryMenu }}</b></li> <!-- Primary menu name -->
        </ol>
    </nav>
</div>


<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">
              <ul class="nav nav-pills custom-nav-pills">
                <li class="nav-item me-4" *ngFor="let item of tabMenuData; index as i">
                    <a class="nav-link" [routerLink]="item.tab_path" routerLinkActive="active">
                        <i [class]="item.tab_class + ' pe-2'"></i>{{ item.tab_name }}
                    </a>
                </li>
            </ul>
            
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <router-outlet></router-outlet>
    </mat-card-content>
</mat-card>