.no-content {
    margin-top: 8rem;
    min-height: 14rem;
    // @include flex;
    text-align: center;
    font-size: 1.5rem;
    color: var(--bnrc-grey-100);
    font-weight: 400;

    &.smallheight {
        min-height: 5rem
    }
}

